<tr>
  <td><%= user.id %></td>
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <td>
    <% if is_supervisor? user %>
      <b><%= t ".supervisor" %></b>
    <% end %>
  </td>
</tr>
