<footer class="navbar navbar-expand-lg bg-light navbar-l">
  <div>
    <div class="footer">
      <div class="footer_resize">
        <p class="lf"><%= t ".coder" %> <a href="#"><%= t "sun*" %></a><%= t ".all_right" %></p>
        <p class="rf"><%= t ".code_by" %></p>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</footer>
