<footer class="navbar navbar-expand-lg bg-light navbar-l">
  <div>
    <div class="footer">
      <div class="footer_resize">
        <p class="lf">Copyright &copy; <a href="#">Sun-Asterisk Inc.</a>. All Rights Reserved</p>
        <p class="rf">Coded by Black Pearl</p>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</footer>
